бэкап-cFrA5OB8UsymLjT9.json
{"createdAt":"2025-05-08T23:43:03.938Z","updatedAt":"2025-05-09T00:50:48.990Z","id":"cFrA5OB8UsymLjT9","name":"Бэкап","active":false,"nodes":[{"parameters":{},"id":"cced8917-d3f4-48e5-abb3-f40d8adaaef5","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2400,20]},{"parameters":{"options":{}},"id":"9be691b3-6d46-44fe-a228-1955ab376d59","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2200,20]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9dda384d-fe52-495a-a303-29f57bf6f5cf","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2000,20]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0b233019-d395-4af9-9563-f8c6cf5ccf0b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1800,20]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Ballerino22","mode":"name"},"repository":{"__rl":true,"value":"becup","mode":"list","cachedResultName":"becup","cachedResultUrl":"https://github.com/Ballerino22/becup"},"filePath":"="},"id":"5ae59e2f-5c46-49bf-a353-bae4cd7d33bd","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1600,20],"alwaysOutputData":true,"webhookId":"e511a4b4-fa0d-4dab-bce9-80998db568da","credentials":{"githubApi":{"id":"nBeVDqIhAG8lFOmh","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"74988181-d10c-4c69-91a4-58431bb0c044","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1400,20]},{"parameters":{"filters":{},"requestOptions":{}},"id":"b3252d9e-b3f7-4532-8686-9f22d52cca74","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1200,20],"credentials":{"n8nApi":{"id":"H5QSgRrECGqdjTS6","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c567f893-d97f-4a3e-9cf1-4d2a9819256c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1000,20]},{"parameters":{"batchSize":1,"options":{}},"id":"bb5dca1b-3b38-4360-8be7-396bc3e221b1","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-760,20]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7257e97b-58e4-45b2-ab88-8bb1586ba895","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-520,-60]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Ballerino22","mode":"name"},"repository":{"__rl":true,"value":"becup","mode":"list","cachedResultName":"becup","cachedResultUrl":"https://github.com/Ballerino22/becup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e32e2908-d0f8-441d-ba93-f2def58b5080","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-300,-260],"webhookId":"e6f0ba16-7be6-4650-b0da-18370ee426c3","credentials":{"githubApi":{"id":"nBeVDqIhAG8lFOmh","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Ballerino22","mode":"name"},"repository":{"__rl":true,"value":"becup","mode":"list","cachedResultName":"becup","cachedResultUrl":"https://github.com/Ballerino22/becup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"44e0b2a2-6955-486a-b43d-9f31853de7e2","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-300,140],"webhookId":"77a38824-02bc-4634-a298-b85b14ad936a","credentials":{"githubApi":{"id":"nBeVDqIhAG8lFOmh","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7500,1300],"typeVersion":1,"id":"d007fe64-c626-489e-b025-cd20e41689e2","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09ae746d-46c7-475d-a953-32dfd622ea93","triggerCount":0,"tags":[]}